h1 {
  font-size: 40px;
  color: #241452;
  width: 100%;
  text-align: center;
}
h2 {
  font-size: 20px;
  color: #660033;
  text-align: center;
  width: 100%;  
}
p {
  text-align: center; 
}
table {
  width: 100%;
  border: center;
}
table tr td {
  border: 5px gray solid;
}

td {
  border: black 3px groove;
}

IMG.displayed {
  display: block;
  border: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}


